<div class="container">
  <mat-card>
    <mat-card-content>
      <h2>Open an investment account</h2>
      <form [formGroup]="registrationForm" (ngSubmit)="register()">

        <mat-form-field class="input_group">
          <mat-label for="email">Email:</mat-label>
          <input matInput id="email" formControlName="email" type="email">
          <div *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched">
            <small *ngIf="registrationForm.get('email')?.errors?.['required']">Email is required.</small>
            <small *ngIf="registrationForm.get('email')?.errors?.['email']">Enter a valid email address.</small>
          </div>
        </mat-form-field>

        <mat-form-field class="input_group">
          <mat-label for="password">Password:</mat-label>
          <input matInput id="password" formControlName="password" type="password">
          <div *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched">
            <small *ngIf="registrationForm.get('password')?.errors?.['required']">Password is required.</small>
            <small *ngIf="registrationForm.get('password')?.errors?.['minlength']">Password must be at least 6
              characters long.</small>
          </div>
        </mat-form-field>

        <mat-form-field class="input_group">
          <mat-label for="confirmPassword">Confirm Password:</mat-label>
          <input matInput id="confirmPassword" formControlName="confirmPassword" type="password">
          <div
            *ngIf="registrationForm.get('confirmPassword')?.invalid && registrationForm.get('confirmPassword')?.touched">
            <small *ngIf="registrationForm.get('confirmPassword')?.errors?.['required']">Confirm Password is
              required.</small>
            <small *ngIf="registrationForm.get('confirmPassword')?.errors?.['minlength']">Confirm Password must be at
              least 6 characters long.</small>
          </div>
        </mat-form-field>

        <mat-form-field class="input_group">
          <mat-label for="fullName">Full Name:</mat-label>
          <input matInput id="fullName" formControlName="fullName" type="text">
          <div *ngIf="registrationForm.get('fullName')?.invalid && registrationForm.get('fullName')?.touched">
            <small *ngIf="registrationForm.get('fullName')?.errors?.['required']">Full Name is required.</small>
          </div>
        </mat-form-field>

        <mat-form-field class="input_group">
          <mat-label for="dateOfBirth">Date of Birth:</mat-label>
          <input matInput id="dateOfBirth" formControlName="dateOfBirth" [matDatepicker]="picker">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <div *ngIf="registrationForm.get('dateOfBirth')?.invalid && registrationForm.get('dateOfBirth')?.touched">
            <small *ngIf="registrationForm.get('dateOfBirth')?.errors?.['required']">Date of Birth is required.</small>
          </div>
        </mat-form-field>


        <mat-form-field class="input_group">
          <mat-label for="country">Country:</mat-label>
          <mat-select id="country" formControlName="country" (change)="onCountryChange($event)">
            <mat-option value="United States">United States</mat-option>
            <mat-option value="Ireland">Ireland</mat-option>
            <mat-option value="India">India</mat-option>
          </mat-select>
          <div *ngIf="registrationForm.get('country')?.invalid && registrationForm.get('country')?.touched">
            <small *ngIf="registrationForm.get('country')?.errors?.['required']">Country is required.</small>
          </div>
        </mat-form-field>

        <mat-form-field class="input_group">
          <mat-label for="postalCode">Postal Code:</mat-label>
          <input matInput id="postalCode" formControlName="postalCode" type="text">
          <div *ngIf="registrationForm.get('postalCode')?.invalid && registrationForm.get('postalCode')?.touched">
            <small *ngIf="registrationForm.get('postalCode')?.errors?.['required']">Postal Code is required.</small>
          </div>
        </mat-form-field>

        <mat-form-field class="input_group">
          <mat-label for="identificationValue">{{identificationLabel}}:</mat-label>
          <input matInput id="identificationValue" formControlName="identificationValue" type="text">
          <div
            *ngIf="registrationForm.get('identificationValue')?.invalid && registrationForm.get('identificationValue')?.touched">
            <small *ngIf="registrationForm.get('identificationValue')?.errors?.['required']">Identification Value is
              required.</small>
            <small *ngIf="registrationForm.get('identificationValue')?.errors?.['pattern']">Invalid
              {{identificationLabel}}.</small>
          </div>
        </mat-form-field>
        <button mat-fab type="submit" color="primary" extended [disabled]="registrationForm.invalid">
          <mat-icon>person</mat-icon>
          Register
        </button>
      </form>

    </mat-card-content>
  </mat-card>
</div>