<div class="container">
  <div class="card">
    <h2>Register</h2>
    <form [formGroup]="registrationForm" (ngSubmit)="register()">
      <div class="input_group">
        <label for="email">Email:</label>
        <input id="email" formControlName="email" type="email">
        <div *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched">
          <small *ngIf="registrationForm.get('email')?.errors?.['required']">Email is required.</small>
          <small *ngIf="registrationForm.get('email')?.errors?.['email']">Enter a valid email address.</small>
        </div>
      </div>
    
      <div class="input_group">
        <label for="password">Password:</label>
        <input id="password" formControlName="password" type="password">
        <div *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched">
          <small *ngIf="registrationForm.get('password')?.errors?.['required']">Password is required.</small>
          <small *ngIf="registrationForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</small>
        </div>
      </div>
    
      <div class="input_group">
        <label for="confirmPassword">Confirm Password:</label>
        <input id="confirmPassword" formControlName="confirmPassword" type="password">
        <div *ngIf="registrationForm.get('confirmPassword')?.invalid && registrationForm.get('confirmPassword')?.touched">
          <small *ngIf="registrationForm.get('confirmPassword')?.errors?.['required']">Confirm Password is required.</small>
          <small *ngIf="registrationForm.get('confirmPassword')?.errors?.['minlength']">Confirm Password must be at least 6 characters long.</small>
        </div>
      </div>
    
      <div class="input_group">
        <label for="fullName">Full Name:</label>
        <input id="fullName" formControlName="fullName" type="text">
        <div *ngIf="registrationForm.get('fullName')?.invalid && registrationForm.get('fullName')?.touched">
          <small *ngIf="registrationForm.get('fullName')?.errors?.['required']">Full Name is required.</small>
        </div>
      </div>
    
      <div class="input_group">
        <label for="dateOfBirth">Date of Birth:</label>
        <!-- <input id="dateOfBirth" formControlName="dateOfBirth" type="date"> -->
        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput id="dateOfBirth" formControlName="dateOfBirth" [matDatepicker]="picker">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div *ngIf="registrationForm.get('dateOfBirth')?.invalid && registrationForm.get('dateOfBirth')?.touched">
          <small *ngIf="registrationForm.get('dateOfBirth')?.errors?.['required']">Date of Birth is required.</small>
        </div>
      </div>
    
      <div class="input_group">
        <label for="country">Country:</label>
        <!-- <input id="country" formControlName="country" type="text"> -->
        <select id="country" formControlName="country" (change)="onCountryChange($event)">
          <option value="United States">United States</option>
          <option value="Ireland">Ireland</option>
          <option value="India">India</option>
        </select>
        <div *ngIf="registrationForm.get('country')?.invalid && registrationForm.get('country')?.touched">
          <small *ngIf="registrationForm.get('country')?.errors?.['required']">Country is required.</small>
        </div>
      </div>
    
      <div class="input_group">
        <label for="postalCode">Postal Code:</label>
        <input id="postalCode" formControlName="postalCode" type="text">
        <div *ngIf="registrationForm.get('postalCode')?.invalid && registrationForm.get('postalCode')?.touched">
          <small *ngIf="registrationForm.get('postalCode')?.errors?.['required']">Postal Code is required.</small>
        </div>
      </div>
    
      <!-- <div class="input_group">
        <label for="identificationType">Identification Type:</label>
        <input id="identificationType" formControlName="identificationType" type="text">
        <div *ngIf="registrationForm.get('identificationType')?.invalid && registrationForm.get('identificationType')?.touched">
          <small *ngIf="registrationForm.get('identificationType')?.errors?.['required']">Identification Type is required.</small>
        </div>
      </div> -->
    
      <div class="input_group">
        <label for="identificationValue">{{identificationLabel}}:</label>
        <input id="identificationValue" formControlName="identificationValue" type="text">
        <div *ngIf="registrationForm.get('identificationValue')?.invalid && registrationForm.get('identificationValue')?.touched">
          <small *ngIf="registrationForm.get('identificationValue')?.errors?.['required']">Identification Value is required.</small>
          <small *ngIf="registrationForm.get('identificationValue')?.errors?.['pattern']">Invalid {{identificationLabel}}.</small>
        </div>
      </div>
    
      <button type="submit" [disabled]="registrationForm.invalid">Register</button>
    </form>
    
  </div>
</div>