body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f2f5;
  color: #333;
}

.portfolio-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #28a745;
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 20px;
}

.sort-options {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.sort-options label {
  margin-right: 10px;
  font-weight: 500;
}

.sort-options select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.portfolio-summary {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.summary-item {
  font-size: 1.2em;
  font-weight: 500;
  color: #555;
}

.portfolio-card {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.portfolio-card:hover {
  transform: translateY(-5px);
}

.stock-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: 700;
  color: #28a745;
}

.stock-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stock-metric {
  flex: 1 1 30%;
  margin-bottom: 10px;
  font-weight: 500;
  color: #555;
}

.sell-button {
  flex: 1 1 100%;
  display: flex;
  justify-content: flex-end;
}

button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-weight: 700;
}

button:hover {
  background-color: #218838;
}

.profit {
  color: green;
  font-weight: 700;
}

.loss {
  color: red;
  font-weight: 700;
}
