<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.capstone.integration.mapper.ClientMapper">

    <select id="verifyEmailAddress" resultType="int">
        SELECT COUNT(*) AS count 
        FROM SS_CLIENT 
        WHERE email = #{emailAddress}
    </select>

</mapper>