<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.capstone.integration.mapper.ClientMapper">

	<select id="verifyEmailAddress" resultType="int">
		SELECT COUNT(*) AS count
		FROM SS_CLIENT
		WHERE email = #{emailAddress}
	</select>

	<select id="verifyLogin" parameterType="map" resultType="int">
		SELECT COUNT(*)
		FROM SS_CLIENT
		WHERE clientId = #{clientId} AND password = #{password}
	</select>

	<insert id="addClient" parameterType="com.capstone.models.Client">
		INSERT INTO SS_CLIENT
		(email, password, fullName, dateOfBirth, country, postalCode,
		identificationType, identificationNumber, clientId)
		VALUES
		(#{email}, #{password}, #{fullName}, #{dateOfBirth}, #{country},
		#{postalCode}, #{identificationType}, #{identificationNumber},
		#{clientId})
	</insert>

</mapper>