<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.capstone.integration.mapper.InvestmentPreferenceMapper">

	<resultMap id="InvestmentPreferenceResultMap" type="InvestmentPreference">
		<result property="clientId" column="client_id" />
		<result property="investmentPurpose" column="investment_purpose" />
		<result property="investmentPurposeDescription"
			column="investment_purpose_description" />
		<result property="riskTolerance" column="risk_tolerance" />
		<result property="incomeCategory" column="income_category" />
		<result property="investmentYear" column="investment_year" />
		<result property="isRoboAdvisorTermsAccepted"
			column="is_robo_advisor_terms_accepted" />
	</resultMap>


	<select id="getInvestmentPreference"
		resultMap="InvestmentPreferenceResultMap">
		SELECT client_id,
		investment_purpose,
		investment_purpose_description,
		risk_tolerance,
		income_category,
		investment_year,
		is_robo_advisor_terms_accepted
		FROM investment_preferences
		WHERE client_id = #{clientId}
	</select>

	<insert id="addInvestmentPreference" parameterType="InvestmentPreference">
		INSERT INTO investment_preferences
		(client_id,
		investment_purpose,
		investment_purpose_description,
		risk_tolerance,
		income_category,
		investment_year,
		is_robo_advisor_terms_accepted)
		VALUES
		(#{clientId},#{investmentPurpose},#{investmentPurposeDescription},
		#{riskTolerance},#{incomeCategory},#{investmentYear},#{isRoboAdvisorTermsAccepted})
	</insert>

	<update id="updateInvestmentPreference" parameterType="InvestmentPreference">
		UPDATE investment_preferences
		SET
		client_id=#{clientId},
		investment_purpose=#{investmentPurpose},
		investment_purpose_description=#{investmentPurposeDescription},
		risk_tolerance=#{riskTolerance},
		income_category=#{incomeCategory},
		investment_year=#{investmentYear},
		is_robo_advisor_terms_accepted=#{isRoboAdvisorTermsAccepted}
		WHERE client_id = #{clientId}
	</update>

	<delete id="removeInvestmentPreference" parameterType="String">
		DELETE FROM investment_preferences WHERE client_id=#{clientId}
	</delete>

</mapper>