
  <div class="robo-advisor-card padding-10">
    <mat-card appearance="outlined" class="robo-advisor-suggestions">
      <mat-card-header
        ><mat-card-title><h2>Investment Suggestions</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content class="flex-col">
        <div *ngFor="let instrument of mockRoboSuggestions">
          <mat-card appearance="outlined" class="padding-10">
            <div class="flex-col">
              <div class="flex-row space-between">
                <div class="flex-row">
                  <h2>{{ instrument.instrument.instrumentId }}</h2>
                  <mat-chip class="height-10"><p class="font-16">{{ instrument.instrument.categoryId }}</p></mat-chip>
                    
                </div>
                <div class="flex-row">
                  <p >
                      {{ instrument.askPrice | currency : "USD" }}
                      ({{ instrument.instrument.minQuantity }} -
              {{ instrument.instrument.maxQuantity }})
                  </p>
                </div>
              </div>
              <div>
                {{ instrument.instrument.instrumentDescription }}
              </div>
              <div class="flex-row">
  
                <button mat-raised-button (click)="buyTrade(instrument)">Buy</button>
                <button mat-raised-button (click)="sellTrade(instrument)">Sell</button>
              </div>
              
            </div>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined" class="preferences">
      <mat-card-header
        ><mat-card-title><h2>Investment Preferences</h2></mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="flex-col">
        <div class="flex-col">
          <div class="flex-row">
            <h3>Investment Purpose:</h3>
            <p>{{preferences?.investmentPurpose}}</p>
          </div>
          <div class="flex-row">
            <h3>Risk Tolerance:</h3>
            <p>{{preferences?.riskTolerance}}</p>
          </div>
        </div>
        <div class="flex-col">
          <div class="flex-row">
            <h3>Income Category:</h3>
            <p>{{preferences?.incomeCategory}}</p>
          </div>
          <div class="flex-row">
            <h3>Investment Years:</h3>
            <p>{{preferences?.investmentYears}}</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  



